# Test 2026-02-13 at 03:54:26

name: Test

on:
  push

jobs:

  test:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: 'main'

    - uses: actions/checkout@v3
      with:
        repository: philiprbrenan/DataTableText
        path: dtt

    - name: Cpan
      run:  sudo cpan install -T Data::Dump Digest::SHA1

    - name: Test Perl implemented integrated circuits
      run:
        perl -Idtt/lib lib/GitHub/Crud.pm

    - name: Install Tree
      run:
        sudo apt install tree

    - name: Tree
      run:
        tree

    - name: Upload test files
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        perl -Idtt/lib       -MData::Table::Text -e"Data::Table::Text::owf('test/zzz.txt', 'AAAA')"
        perl -Idtt/lib -Ilib -MGitHub::Crud      -e"&GitHub::Crud::writeFolderUsingSavedToken(@ARGV)" -- philiprbrenan GitHubCrud test/ test/

    - name: List repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        perl -Idtt/lib -Ilib -MGitHub::Crud -e"say STDERR &GitHub::Crud::listRepositoryUsingSavedToken(@ARGV)" -- philiprbrenan GitHubCrud
